ENVIRONMENT="DEV"

TAVILY_API_KEY=""

OPENAI_API_KEY=""

MCP_TRANSPORT="streamable_http" #"stdio" #streamable-http" #stdio" #sse
MCP_SSE_HOST="127.0.0.1"
MCP_SSE_PORT="8000"


#Set up LangSmith for LangGraph development
LANGCHAIN_TRACING_V2="false"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGCHAIN_PROJECT=""

# ─── OCI credentials - Cohere Model --------
OCI_COMPARTMENT_ID="ocid1.compartment.oc1..aaaaaaaau6esoygdsqxfz6iv3u7ghvosfskyvd6kroucemvyr5wzzjcw6aaa"
OCI_GENAI_ENDPOINT="https://inference.generativeai.us-chicago-1.oci.oraclecloud.com"
OCI_GENAI_MODEL_ID="ocid1.generativeaimodel.oc1.us-chicago-1.amaaaaaask7dceyanrlpnq5ybfu5hnzarg7jomak3q6kyhkzjsl4qj24fyoq"
#"ocid1.generativeaimodel.oc1.us-chicago-1.amaaaaaask7dceyapnibwg42qjhwaxrlqfpreueirtwghiwvv2whsnwmnlva"
#"cohere.command-r-plus-08-2024"
#"ocid1.generativeaimodel.oc1.us-chicago-1.amaaaaaask7dceyanrlpnq5ybfu5hnzarg7jomak3q6kyhkzjsl4qj24fyoq"
PROVIDER="cohere"

# ─── OCI credentials - Llama DS MD Model --------
OCI_LLM_ENDPOINT="https://modeldeployment.ap-osaka-1.oci.customer-oci.com/ocid1.datasciencemodeldeployment.oc1.ap-osaka-1.amaaaaaawe6j4fqamxfjgxik5utnjp6v3nhbwgqroakj5nr73zeu6rqikkqa/predict"
OCI_MODEL_ID_1="odsc-llm"
PROVIDER_1="meta"
# ─── OCI Config File --------

USER=""
FINGERPRINT=""
TENANCY=""
REGION=""
KEY_FILE=""

# ─── OCI RAG AGent Configuration --------
AGENT_EP_ID="ocid1.genaiagentendpoint.oc1.us-chicago-1.amaaaaaawe6j4fqaye4c3tcmg6rehfougltaikbo763b3v4tcyraac6snvfa"
AGENT_SERVICE_EP="https://agent-runtime.generativeai.us-chicago-1.oci.oraclecloud.com"  # Update this with the appropriate endpoint for your region, a list of valid endpoints can be found here - https://docs.oracle.com/en-us/iaas/api/#/en/generative-ai-agents-client/20240531/

# -- OCI Redis Cluster details
#REDIS_HOST=127.0.0.1
#REDIS_PORT=6379
#REDIS_SSL=true

# -- Data Science Model Deployment to host MCP Server --------
MODEL_DEPLOYMENT_URL="https://modeldeployment.us-chicago-1.oci.customer-oci.com/ocid1.datasciencemodeldeployment.oc1.us-chicago-1.amaaaaaawe6j4fqaekzh4uvermf7ttms4vp7uru2jzf7zi5v47pn5zvhhc7a/predict"
